@model WarehouseAsp.Models.PaginetedResult<WarehouseAsp.Models.Stocks>

@{
    ViewBag.Title = "Stocks";
}

<h2>Stocks</h2>

@using (Html.BeginForm("List", "Stocks", FormMethod.Get, new { @class = "container" }))
{
    <div class="row">
        @Html.HiddenFor(model => model.page)
        <div class="input-field col s6">
            <input id="search" type="text" name="search" value="@Model.search" class="validate">
            <label for="search">Cerca o inserisci l'id del prodotto</label>

            <button type="submit" class="btn waves-effect waves-light" style="background-color: #00796b; color: white">
                <i class="fas fa-search" style="font-size: 14px;"></i> Cerca
            </button>
        </div>
    </div>
}

@if (Model.Results != null && Model.Results.Any())
{
    <table class="highlight">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Results[0].Title)</th>
                <th>@Html.DisplayNameFor(model => model.Results[0].Stock)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                var rowClass = item.Stock < 0 ? "red lighten-4" : "";
                <tr class="@rowClass">
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                    <td>
                        <span class="badge new
                        @(item.Stock < 0 ? "red darken-4" : "green accent-4")"
                              data-badge-caption="@(item.Stock < 0 ? "Non disponibile" : "Disponibile")"
                              style="font-weight: bold; font-size: 0.8em;">
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        @for (int i = 1; i <= Model.Pages; i++)
        {
            <li class="waves-effect @(i == Model.page ? "active" : "")">
                @Html.ActionLink(i.ToString(), "List", new { page = i, pageSize = Model.pageSize, search = Model.search, previousSearch = ViewBag.PreviousSearch }, new { @class = "page-link" })
            </li>
        }
    </ul>
}
else
{
    <div class="card-panel red lighten-4">
        <span class="red-text text-darken-4">Nessun risultato trovato per il termine di ricerca: "@Model.search".</span>
    </div>
}