@model WarehouseAsp.Models.WarehouseMovement

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete</h3>
<h3>this movement?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn " style="display: inline-block; background-color: #FF6B6B; margin-bottom: 10px;">
            <i class="fas fa-trash" style="font-size: 14px;"></i> Delete
        </button>


    </div>
    @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-small waves-effect waves-light", style = " margin-bottom: 10px;" })
</div>
    }
</div>
