@model WarehouseAsp.Models.PaginetedResult<WarehouseAsp.Models.Product>

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div class="container">
    <h4>
        <p>@Html.DisplayFor(model => model.Results[0].Title)</p>
    </h4>
    <hr />
    <div class="row">
        <div class="col s12">
            <strong>@Html.DisplayNameFor(model => model.Results[0].Description)</strong>
            <p>@Html.DisplayFor(model => model.Results[0].Description)</p>
        </div>
        <div class="col s12">
            <strong>@Html.DisplayNameFor(model => model.Results[0].Price)</strong>
            <p>@Html.DisplayFor(model => model.Results[0].Price)</p>
        </div>
        <div class="col s12">
            @{
                var images = Model.Results[0].Images.Split(';');
            }
            <strong>@Html.DisplayNameFor(model => model.Results[0].Images)</strong>
            <p>
                @foreach (var image in images)
                {
                    <img src="@Url.Content("https://storage.googleapis.com/e802024pw/" + image)" alt="Immagine" style="width: 90px; height: auto;">
                }
            </p>


        </div>
    </div>
</div>
<p class="center-align">
    @Html.ActionLink("Back to List", "List", new { page = Model.page, pageSize = Model.pageSize, search = Model.search }, new { @class = "btn waves-effect waves-light" })
</p>
