@model WarehouseAsp.Models.PaginetedResult<WarehouseAsp.Models.Product>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Results[0].Title)
        </dt>yy

        <dd>
            @Html.DisplayFor(model => model.Results[0].Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Results[0].Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Results[0].Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Results[0].Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Results[0].Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Results[0].Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Results[0].Images)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "List", new { page = Model.page, pageSize = Model.pageSize, search = Model.search })
</p>
